@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-heading: "Nunito Sans";
	--font-display: "Nunito Sans";

	--animate-scale-bounce: scale-bounce 0.5s ease-in-out;
	@keyframes scale-bounce {
		0%,
		100% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.75);
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
